.wallet_form {
  background: var(--smoke);
  border-radius: 0.625rem;
  box-shadow: -4px 9px 13px 1px var(--shadow);
  display: flex;
  flex-shrink: 0;
  height: 30.12rem;
  width: 64.812rem;
}

.wallet_form_header {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.wallet_header_section {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.wallet_header_section p {
  color: var(--blue);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
}

.expenses {
  color: var(--blue);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
}

.user_email {
  color: var(--green);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
}
