.form_login {
  align-items: center;
  background: var(--smoke);
  border-radius: 0.625rem;
  box-shadow: -4px 9px 13px 1px var(--shadow);
  display: flex;
  flex-direction: column;
  padding: 4.4rem 6rem;
}

.form_header {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  padding-bottom: 2.78rem;
}

.form_header p {
  color: var(--blue);
  font-size: 1.5rem;
  font-weight: 400;
}

.form_header strong {
  color: var(--green);
  font-size: 1.5rem;
  font-weight: 700;
}

.input_container {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-bottom: 0.5rem;
}

.label {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 2.5rem;
  height: 2.5rem;
  justify-content: space-evenly;
  width: 20.625rem;
}

.input {
  background-color: var(--smoke);
  border: 1px solid var(--blue);
  border-radius: 0.312rem;
  color: var(--blue);
  height: 100%;
  outline-style: 1px solid var(--blue);
  padding: 0.8rem;
  width: 100%;
}

.input::placeholder {
  color: var(--blue);
}
