:root {
  --green: #31c28d;
  --blue: #003BE5;
  --smoke: #F9FDFF;
  --shadow: #036b524d;
  --smoke_100: #e1e5eb7d;
  --scarlat: #DF3C6D
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Epilogue', sans-serif;
  border: none;
}

body {
  background: url('../src/assets/loginBg.jpg');
  background-blend-mode: luminosity;
  background-color: var(--green);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}