:root {
  --green: #31c28d;
  --blue: #003BE5;
  --smoke: #F9FDFF;
  --shadow: #036b524d;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Epilogue', sans-serif;

}